header{
    min-height: 10vh;
}

body{
    min-height: 80vh;
}

footer{
    min-height: 5vh;
}

.titulo{
    text-decoration: underline;
}

.subtitulos{
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
    text-decoration: underline;
    font-family: arial black;
}